$primaryColor: #8B964C;
$secondaryColor:#546E77;
$backgroundColor:#E0EBEA;
$primaryTextColor:#1C3905;
$secondaryTextColor:#546E77;
$accent: #FF8038;
$hugeTextSize:36px;
$largeTextSize:24px;
$mediumTextSize:18px;
$smallTextSize:14px;
$minWidt: 400px;

//General
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/jan-huber-4OhFZSAT3sw-unsplash.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.focus{
    color: $accent;
    font-weight: bold;
}

//Header
header{
    background-color: $primaryColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: sticky;
    top:0;
    nav{
        padding-bottom: 20px;
        ul{
            display: flex;
            justify-content: space-around;
            min-width: $minWidt;
            list-style: none;
            li{
                width: 100px;
                position: relative;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: $mediumTextSize;
                }
                .dropdown-menu{
                    display: none;
                    // position: relative;
                    top:10px;
                    width: 100px;

                }
            }
        }
    }
}//header
main{
    #welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 300px;
        height: 500px;
        h1{
            font-size: $hugeTextSize;
            text-shadow: 0.05em 0 black, 0 0.05em black;
            padding: 0 50px;
            text-align: center;
        }
        p{
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: $mediumTextSize;
            text-shadow: 0.05em 0 black, 0 0.05em black;
            text-align: center;
        }
    }
    #intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 300px;
        height: 500px;
        background-color: white;
        padding-bottom: 20px;
        h1{
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: $hugeTextSize;
            color: $primaryTextColor;
            text-align: center;
        }
        p{
            font-size: $mediumTextSize;
            color: $primaryTextColor;
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            text-align: center;
        }
    }
    #subscribe{
        min-height: 500px;
        background-color: $secondaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            padding: 20px;
            // margin: 20px;
            text-align: center;
        }
        form{
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            div{
                margin: 20px;
                // flex: 1;
                label{
                    display: inline;
                }
                input{
                    flex: 1;
                    
                    padding: 10px;
                    margin-left:20px;
                    margin-right:20px;
                    border: none;
                    border-radius: 5px;
                }
            }
            button{
                padding: 10px;
                border: none;
                border-radius: 5px;
                width: 150px;
            }
        }
    }
    #quote{
        background-color: $backgroundColor;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        height: 500px;
        display: flex;
        align-items: center;
        div{
            border-left: $accent 5px solid;
            padding-left: 50px;
            padding-right: 50px;
            q, p{
                color: $primaryTextColor;
                // padding-left: 50px;
                // padding-right: 50px;
                text-align: center;
            }
            q{
                font-size: $largeTextSize;
            }
        }
    }
    #poll{
        background-color: $secondaryColor;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        h1{
            padding-bottom: 10px;
        }
        form{
            padding-top: 10px;
            div {
                padding-bottom: 10px;
                input{
                    margin-right: 5px;
                }
            }
            button{
                padding: 10px;
                border: none;
                border-radius: 5px;
                width: 150px;
            }

        }
    }
}//main

.blog-article{
    background-color: $backgroundColor;
    color: $primaryTextColor;
    padding-bottom: 50px;
    h1, time, p{
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    ul{
        list-style: disc inside none;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        li{
            
        }
    }
    .tree-group{
        .heading{
            display: flex;
            align-items: center;
            .tree-name{
                padding-top: 20px;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 20px;
                font-size: $mediumTextSize;
            }
            i{
                padding: 5px;
                &:hover{
                    color: $accent;
                    
                }
            }


        }
        .tree-image{
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            width: 400px;
        }
        .tree-text{
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }//.tree-group
}//.blog-article

.blog-comments{
    background-color:rgba(0, 0, 0, 0.5);
    height: 500px;
    h2, p{
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    textarea{
        height: 200px;
        width: 80%;
        margin-top: 20px;
        margin-left: 50px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    button{
        padding: 20px;
        margin-top: 20px;
        margin-left: 50px;
        padding-top: 10px;
    }
}//.blog-comments

//Blog special effects
.clicked{
    color: $accent;
}

.tree-index{
    background-color: $backgroundColor;
    color: $primaryTextColor;
    padding-bottom: 50px;
    h1, time, p, table{
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
    }
    table{
        border-collapse: collapse;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        margin: auto;
        width: 90%;
        tr, th, td{
        border:grey 1px solid;
        }
        tr:nth-child(odd){
            background-color: lightgrey;
        }
        th, td{
            padding: 5px;
            text-align: center;
        }
    }
}//.tree-index

//Saved list page
.saved-list-section{
    background-color:rgba(0, 0, 0, 0.8);
    padding-left: 30px;
    padding-bottom: 30px;
    h1{padding-top: 20px;}
    p{padding-top: 10px;}
    ul{
        margin-left: 30px;
        li{
            margin: 10px;
            
            a{
                color: white;
                text-decoration: none;
            }

        }
    }



}

//Contact page
#contact{
    height: 110vh;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 30px;
    h1{
        padding: 20px;
        // margin: 20px;
        text-align: center;
    }
    form{
        margin-top: 30px;
        display: grid;
        // flex-wrap: wrap;
        // justify-content: space-around;
        // align-items: center;
        div{
            margin: 20px;
            // flex: 1;
            label{
                display: inline;
            }
            input{
                flex: 1;
                
                padding: 10px;
                margin-left:20px;
                margin-right:20px;
                border: none;
                border-radius: 5px;
            }
            textarea{
                width: 100%;
            }

        }
        button{
            padding: 10px;
            border: none;
            border-radius: 5px;
            width: 150px;
            margin-left:20px;
        }
    }
}

