* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/jan-huber-4OhFZSAT3sw-unsplash.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}

.focus {
  color: #FF8038;
  font-weight: bold;
}

header {
  background-color: #8B964C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header nav {
  padding-bottom: 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 400px;
  list-style: none;
}

header nav ul li {
  width: 100px;
  position: relative;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li .dropdown-menu {
  display: none;
  top: 10px;
  width: 100px;
}

main #welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 300px;
  height: 500px;
}

main #welcome h1 {
  font-size: 36px;
  text-shadow: 0.05em 0 black, 0 0.05em black;
  padding: 0 50px;
  text-align: center;
}

main #welcome p {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  text-shadow: 0.05em 0 black, 0 0.05em black;
  text-align: center;
}

main #intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 300px;
  height: 500px;
  background-color: white;
  padding-bottom: 20px;
}

main #intro h1 {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 36px;
  color: #1C3905;
  text-align: center;
}

main #intro p {
  font-size: 18px;
  color: #1C3905;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

main #subscribe {
  min-height: 500px;
  background-color: #546E77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #subscribe h1 {
  padding: 20px;
  text-align: center;
}

main #subscribe form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #subscribe form div {
  margin: 20px;
}

main #subscribe form div label {
  display: inline;
}

main #subscribe form div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
}

main #subscribe form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 150px;
}

main #quote {
  background-color: #E0EBEA;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #quote div {
  border-left: #FF8038 5px solid;
  padding-left: 50px;
  padding-right: 50px;
}

main #quote div q, main #quote div p {
  color: #1C3905;
  text-align: center;
}

main #quote div q {
  font-size: 24px;
}

main #poll {
  background-color: #546E77;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

main #poll h1 {
  padding-bottom: 10px;
}

main #poll form {
  padding-top: 10px;
}

main #poll form div {
  padding-bottom: 10px;
}

main #poll form div input {
  margin-right: 5px;
}

main #poll form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 150px;
}

.blog-article {
  background-color: #E0EBEA;
  color: #1C3905;
  padding-bottom: 50px;
}

.blog-article h1, .blog-article time, .blog-article p {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.blog-article ul {
  list-style: disc inside none;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.blog-article .tree-group .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-article .tree-group .heading .tree-name {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 18px;
}

.blog-article .tree-group .heading i {
  padding: 5px;
}

.blog-article .tree-group .heading i:hover {
  color: #FF8038;
}

.blog-article .tree-group .tree-image {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 400px;
}

.blog-article .tree-group .tree-text {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.blog-comments {
  background-color: rgba(0, 0, 0, 0.5);
  height: 500px;
}

.blog-comments h2, .blog-comments p {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.blog-comments textarea {
  height: 200px;
  width: 80%;
  margin-top: 20px;
  margin-left: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.blog-comments button {
  padding: 20px;
  margin-top: 20px;
  margin-left: 50px;
  padding-top: 10px;
}

.clicked {
  color: #FF8038;
}

.tree-index {
  background-color: #E0EBEA;
  color: #1C3905;
  padding-bottom: 50px;
}

.tree-index h1, .tree-index time, .tree-index p, .tree-index table {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.tree-index table {
  border-collapse: collapse;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  width: 90%;
}

.tree-index table tr, .tree-index table th, .tree-index table td {
  border: grey 1px solid;
}

.tree-index table tr:nth-child(odd) {
  background-color: lightgrey;
}

.tree-index table th, .tree-index table td {
  padding: 5px;
  text-align: center;
}

.saved-list-section {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 30px;
  padding-bottom: 30px;
}

.saved-list-section h1 {
  padding-top: 20px;
}

.saved-list-section p {
  padding-top: 10px;
}

.saved-list-section ul {
  margin-left: 30px;
}

.saved-list-section ul li {
  margin: 10px;
}

.saved-list-section ul li a {
  color: white;
  text-decoration: none;
}

#contact {
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
}

#contact h1 {
  padding: 20px;
  text-align: center;
}

#contact form {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
}

#contact form div {
  margin: 20px;
}

#contact form div label {
  display: inline;
}

#contact form div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
}

#contact form div textarea {
  width: 100%;
}

#contact form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */